// style
.footer-area {
    text-align: center;
    background: url(img/footer-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    padding: 70px 0 65px;
    .footer-logo {
        margin: 0 0 22px;
        a {
        	display: flex;
            justify-content: center;
        }
    }
    p.copyright-text {
        color: #666;
        margin: 0;
        text-transform: uppercase;
    }
}

#scrollUp {
    background: $color-secondary none repeat scroll 0 0;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 45px;
    bottom: 20px;
    right: 20px;
    text-align: center;
    position: fixed;
    z-index: 500;
    display: block;
}
