* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary;
    margin: 0 0 10px;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

body {
    background: $body-background-color none repeat scroll 0 0;
    color: $body-text-color;
    font-family: $body-font-family;
    font-size: $font-size-base;
    line-height: 24px;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

h1,
h2,
h4,
h5,
h6 {
    color: $color-primary;
    font-weight: 500;
    line-height: 1.1;
}

body {
    a {
        transition: all 0.4s ease 0s;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &:hover {
            color: $color-secondary;
        }
    }
}

p {
    font-weight: 300;
    margin: 0 0 15px;
}

button {
    &:focus {
        outline: 0;
    }
}
