.search-area {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	opacity: 0.9;
	z-index: 1000;
	.search-container {
		@extend .container;
		background-color: red;
		height: 500px;
	}
}
