// styles
.clearfix {
	&:before,
  	&:after {
    	content: " "; // 1
    	display: table; // 2
  	}
  	&:after {
    	clear: both;
	}
}

// reponsive utilities
@mixin if-is-large-screen {
	@media all and (min-width: #{$large-screen-width}) {
		@content;
	}
}

@mixin if-is-medium-screen {
	@media all and (min-width: #{$medium-screen-width}) {
		@content;
	}
}

@mixin if-is-small-screen {
	@media all and (max-width: #{$small-screen-width}) {
		@content;
	}
}

.fixed {
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%;
}

.container {
    max-width: $small-screen-container-width;
    margin: 0 auto;
    @include if-is-medium-screen {
        max-width: $medium-screen-container-width;
    }
    @include if-is-large-screen {
        max-width: $large-screen-container-width;
    }	
}

