// responsive breakpoints
$medium-screen-width: 768px; 
$large-screen-width: 1024px; 

// font families
$titles-font-family: 'Montserrat', sans-serif;
$main-font-family: 'Domine', serif;
$body-font-family: $main-font-family;

// font sizes
$font-size-base: 16px;
$font-size-small: $font-size-base - 2px;
$font-size-large: $font-size-base + 2px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// colors
$dark-alley: #1A1717;
$berlin-red: #C41010;
$black-zebra: #1F1A1A;
$sorta-grey: #332E2E;
$wine: #A10D0D;

// components colors
$color-primary: $dark-alley;
$color-secondary: $berlin-red;
$main-text-color: $black-zebra;
$header-text-color: white;
$body-background-color: #F8F8F8;


// bootstrap basics
$border-radius-base: 0;
$headings-font-family: $titles-font-family;
$headings-color: $main-text-color;

// Media queries breakpoints
$screen-xs-max: ($medium-screen-width - 1);
$screen-sm-min: $medium-screen-width;
$screen-sm-max: ($large-screen-width - 1);
$screen-md-min: $large-screen-width;

// Basics of a navbar
$navbar-height: 80px;
$navbar-default-color: $header-text-color;
$navbar-default-bg: $color-primary;

// Navbar links
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: $navbar-default-color;
$navbar-default-link-hover-bg: $color-secondary;
$navbar-default-link-active-color: $navbar-default-color;
$navbar-default-link-active-bg: $color-secondary;

// Navbar toggle
$navbar-default-toggle-hover-bg: $navbar-default-color;
$navbar-default-toggle-icon-bar-bg: $navbar-default-color;
$navbar-default-toggle-border-color: $navbar-default-color;

// Navbar brand label
$navbar-default-brand-hover-color: $navbar-default-color;

// Navbar toggle
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;
