// responsive breakpoints
$large-screen-width: 1024px; 
$medium-screen-width: 768px; 
$small-screen-width: ($medium-screen-width - 1); 

$large-screen-container-width: 960px; 
$medium-screen-container-width: 768px; 
$small-screen-container-width: 420px; 


// font families
$main-font-family: 'Open Sans', sans-serif;
$body-font-family: $main-font-family;

// font sizes
$font-size-base: 13px;
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

// colors
$gray20: #333;
$gray97: #f7f7f7;
$gray60: #999;

// components colors
$color-primary: $gray20;
$color-secondary: #66cc99;
$body-text-color: $gray60;
$body-background-color: $gray97;


// bootstrap basics
$border-radius-base: 0;

// Media queries breakpoints
$screen-xs-max: ($medium-screen-width - 1);
$screen-sm-min: $medium-screen-width;
$screen-sm-max: ($large-screen-width - 1);
$screen-md-min: $large-screen-width;
